<div class="form">
  <img src="./assets/knitting-inspo.jpg" />
  <h1>Create post</h1>
  <form #createPostForm="ngForm" (ngSubmit)="addNewPost()" class="form-content">
    <input
      type="text"
      id="title"
      [(ngModel)]="postData.title"
      name="title"
      placeholder="Title.."
      #title="ngModel"
      required
    />
    <input
      type="text"
      id="thumbnailUrl"
      [(ngModel)]="postData.thumbnailUrl"
      name="thumbnailUrl"
      placeholder="ThumbnailUrl.."
      #thumbnailUrl="ngModel"
      required
    />
    <textarea
      id="body"
      [(ngModel)]="postData.body"
      name="body"
      placeholder="Text..."
      #body="ngModel"
      required
    ></textarea>
    <button
      type="submit"
      [disabled]="createPostForm.invalid"
      class="submit-button"
    >
      Post
    </button>
  </form>
</div>
