<form #createPostForm="ngForm" (ngSubmit)="addNewPost()" class="form">
  <img src="./assets/knitting-inspo.jpg">
  <h1>Create post</h1>
  <div class="form-group">
    <input
      type="text"
      id="title"
      [(ngModel)]="postData.title"
      name="title"
      placeholder="Title.."
      #title="ngModel"
      required
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      id="thumbnailUrl"
      [(ngModel)]="postData.thumbnailUrl"
      name="thumbnailUrl"
      placeholder="ThumbnailUrl.."
      #thumbnailUrl="ngModel"
      required
    />
  </div>

  <div class="form-group">
    <textarea
      id="body"
      [(ngModel)]="postData.body"
      name="body"
      placeholder="Text..."
      #body="ngModel"
      required
    ></textarea>
  </div>

  <button type="submit" [disabled]="createPostForm.invalid" class="submit-button">Post</button>
</form>
