.content {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-family: "Mukta", sans-serif;
  color: #333;
  text-decoration: underline;
  font-weight: 400;
}

.content img {
  width:40%;
  min-width:350px;
  height:auto;
}

hr {
  width: 60%;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: "Mukta", sans-serif;
}

.like-button:hover, .dislike-button:hover {
  cursor: pointer;
}

.body {
  font-family: "Mukta", sans-serif;
  color: #333;
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}

.date {
  font-family: "Mukta", sans-serif;
  color: #333;
  opacity: 0.8;
}

.comment-section {
  font-family: "Mukta", sans-serif;
  color: #333;
}

.post-comment {
  background-color: #eee7e2; /* Anpassa bakgrundsfärgen efter dina behov */
  padding: 10px;
  margin: 10px auto;
  width: 60%;
  border: 1px solid #ddd; /* Anpassa kantlinjen efter dina behov */
  border-radius: 5px; /* Avrunda hörnen för en mjukare look */
}

.post-comment p {
  margin: 0;
}

.comment-input, .comment-button {
  font-family: "Mukta", sans-serif;
  color: #333;
  padding:5px;
}

.comment-button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}