<section class="content" *ngIf="post">
  <h2 class="title">{{ post.title }}</h2>
  <img src="{{ post.thumbnailUrl }}" />
  <p class="body">{{ post.body }}</p>
  <p class="date">
    PUBLISHED: {{ post.creationDate | date : "EEEE d MMMM yyyy HH:mm:ss" }}
  </p>
  <hr />
  <section class="container">
    <div>
      <p (click)="increaseLikes(post)" class="like-button">Like: {{ post.likes }}</p>
    </div>
    <div>
      <p (click)="increaseDislikes(post)" class="dislike-button">Dislike: {{ post.dislikes }}</p>
    </div>
  </section>
  <section class="comment-section">
    <p>{{ post.comments.length }} comments</p>
    <div *ngFor="let comment of post.comments" class="post-comment">
      <p>{{ comment }}</p>
    </div>
    <input [(ngModel)]="newComment" placeholder="Skriv en kommentar" class="comment-input"/>
    <button (click)="addComment(post)" class="comment-button">Add comment</button>
  </section>
</section>
