.content{
  text-align: center;
}

.content li {
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:100px;
  width:60%;
  padding-bottom: 30px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-family: 'Mukta', sans-serif;
  color: #333;
  padding-bottom:30px;
}

.post img {
  width:600px;
  height:auto;
}