<div class="row">
  <p>ADMIN</p>
  <label class="switch">
    <input type="checkbox" (change)="toggleView()" />
    <span class="slider round"></span>
  </label>
  <p>USER</p>
</div>
<hr />
<nav class="navbar">
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  <ul class="unordered-list" [ngClass]="{ 'show': isMenuOpen }">
    <li>
      <a routerLink="/" (click)="closeMenu()">HOME</a>
    </li>
    <li>
      <a routerLink="/about-me" (click)="closeMenu()">ABOUT ME</a>
    </li>
    <li>
      <a routerLink="/contact" (click)="closeMenu()">CONTACT</a>
    </li>
    <li *ngIf="isAdminView">
      <a routerLink="/create-post" (click)="closeMenu()">CREATE POST</a>
    </li>
  </ul>
  
</nav>
<hr />