.content {
  width: 50%;
  margin: 0 auto;
  font-family: 'Mukta', sans-serif;
  color: #333;
}

.title {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
